@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WeBQBCA.Data.Question

@{
    ViewData["Title"] = "Chi tiết câu hỏi";
    Layout = "~/Views/Shared/_GiangVien.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">QuestionId</dt>
        <dd class="col-sm-10">@Model.QuestionId</dd>

        <dt class="col-sm-2">SubjectId</dt>
        <dd class="col-sm-10">@Model.SubjectId</dd>

        <dt class="col-sm-2">QuestionText</dt>
        <dd class="col-sm-10">@Model.QuestionText</dd>

        <dt class="col-sm-2">DifficultyLevel</dt>
        <dd class="col-sm-10">@Model.DifficultyLevel</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.QuestionId" class="btn btn-primary">Sửa</a>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
